{
  "openapi": "3.0.0",
  "info": {
    "title": "SiteRadiant Public API",
    "description": "Public API for SiteRadiant services. SiteRadiant offers custom website development, website redesign, and e-commerce solutions. This API allows agents to query our service offerings and retrieve pricing information.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://siteradiant.co.in/api"
    }
  ],
  "paths": {
    "/services": {
      "get": {
        "operationId": "getServices",
        "summary": "List available services",
        "description": "Returns a list of services offered by SiteRadiant.",
        "responses": {
          "200": {
            "description": "A list of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" },
          "resolution": { "type": "string" }
        }
      }
    }
  }
}
